---
title: Pricing
heading: Become a real meeting pro for only <strong>$19.99</strong> a year*
description: <b>In Your Face PREMIUM</b> removes all limits and you'll never miss another important meeting again. Plus, you'll be supporting the continued development of the app.
features:
    - text: Full screen event alerts for all your calendar events and Apple Reminders
    - text: Current and upcoming events in the menu
    - text: Join video calls directly from an alert or the menu
    - text: Snooze alerts
    - text: Create reminders in the app
    - text: Preview the upcoming event in the menu bar, with countdown
    - text: Customize alert settings for each event
    - text: Custom snooze durations
    - text: Alert sounds
    - text: Siri Shortcuts and Focus Filters

pricing_table:
  - name: <b>FREE TRIAL</b><br>free
    color: "#FF9849"
    features:      
  - name: <b>PREMIUM</b><br>$19.99 per Year*
    color: "#FE770F"
    features:
faq:
  - question: Why subscriptions?
    answer: Continuously improving the app, adding new features or answering support requests takes a lot of time and effort. This is not a hobby project, it is my job. Building and maintaining a sustainable business is only possible with recurring revenue.
  - question: What happens when the free trial ends?
    answer: After you have exhausted the included free alerts of the trial the app will no longer show you any alerts.
  - question: What happens if I cancel the PREMIUM subscription?
    answer: You will still be able to use the app until the end of the subscription term. After that the app will no longer show you any alerts.
  - question: Can I get a refund?
    answer: If you don't like the app or it does not work for you then you can <a href="https://support.apple.com/en-us/HT204084">request a refund from Apple</a>. Developers can not directly issue refunds.
  - question: What if I bought the app before the switch to the subscription model?
    answer: Users who bought the app before the switch to the subscription model (August 2022) can make full use of the app without restrictions.
  - question: Questions?
    answer: Contact us for any further questions at <a href="#">iyf@bluebanana-software.com</a>.
---
<h4>Or $1.99 a month</h4>

  <p>
    Download and try out the app for free (up to 10 alerts).
  </p>

<div class="plans">
  
  <p>
    {{page.description}}
  </p>

    <ul class="plan">
    {% for feature in page.features %}
        <li>{{ feature.text }}</li>
    {% endfor %}
    </ul>

    <i>* pricing applies to the U.S. App Store. Local pricing may differ. Please check the App Store for detailed pricing information in your country.</i>
</div>

{% if page.faq %}
    <h2>Subscriptions FAQ</h2>
    <dl class="faq">
        {% for item in page.faq %}
            <div>
                <dt>{{ item.question }}</dt>
                <dd>{{ item.answer }}</dd>
            </div>
        {% endfor %}
    </dl>
{% endif %}