#appstore-button {
    margin: 20px auto;
    width: 250px;
    text-align: center;
}

.screenshot {
    background: none;
    border: none;
    box-shadow: none;
}

header {
    background: #BD4742;
    padding-bottom: 50px;
}

h2 {
    margin-top: 20px;
}

h3 {
    margin-top: 15px;
    font-size: 1.5em;
}

.hero {
    background: linear-gradient(to bottom, #BD4742 0%, #E49D3A 100%) no-repeat;
    padding-bottom: 80px;
}

section {
    padding: 30px 0 80px 0;
}

.flex {
    align-items: flex-start;
}

blockquote::before {
    content: "”";
}

.rating {
    color: #E49D3A;
    display: block;
    font-style: normal;
}

.bottom-cta {
    background: #E49D3A;
}

footer {
    background: #222;
}

.help-screenshot {
    display: block;
    max-width: 100%;
}

header {
    background: #BD4742;
}

.profile-image-container {
    text-align: center;
}

.profile-image {
    border-radius: 50%;
}

.subtext {
    text-align: left;
    margin-top: 0px;
}

.title {
    display: flex;
    justify-content: center;
}

.title-text {
    margin-top: 4px;
    text-align: left;
}

.title-icon {
    float: left;
    margin-right: 20px;
}

.centered {
    text-align: center;
}

.laptop-image {
    margin-bottom: -120px;
}