#appstore-button {
    margin: 20px auto;
    width: 250px;
    text-align: center;
}

#appstore-button-top {
    margin: 20px 0 80px 0;
    width: 250px;
    text-align: left;
}

.screenshot {
    background: none;
    border: none;
    box-shadow: none;
}

header {
    background: #FE770F;
    padding-bottom: 50px;
}

h2 {
    margin-top: 20px;
}

h3 {
    margin-top: 15px;
    font-size: 1.5em;
}

.hero {
    background: linear-gradient(to bottom, #BD4742 0%, #F0990E 100%) no-repeat;
    background-image: url('../images/header_bg.png');
    background-repeat: repeat-x;
    background-size: auto;
    background-position: top center;
    padding-top: 120px;
    padding-bottom: 80px;
    margin-top: -70px;
}

.testimonial-inline {
    background: #f5f5f5;
    padding: 50px 0;
    margin-bottom: 80px;
}

section {
    padding: 30px 0 80px 0;
}

.flex {
    align-items: flex-start;
}

blockquote::before {
    content: "”";
}

.rating {
    color: #FE770F;
    display: block;
    font-style: normal;
}

.bottom-cta {
    background: #FE770F;
}

footer {
    background: #222;
}

.help-screenshot {
    display: block;
    max-width: 100%;
}

.profile-image-container {
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
}

.subtext {
    text-align: left;
    margin-top: 0px;
}

.title {
    display: flex;
    justify-content: center;
}

.title-text {
    margin-top: 4px;
    text-align: left;
}

.title-icon {
    float: left;
    margin-right: 20px;
}

.centered {
    text-align: center;
}

.laptop-image {
    margin-bottom: -120px;
}

#promo-video {
    width: 720px;
    height: 405px;
}

@media screen and (max-width: 720px) {
    #promo-video {
        width: 320px;
        height: 180px;
    }
}

.page h1 {
    text-align: center;
    margin-bottom: 20px;
}

.page h2 {
    text-align: left;
    font-size: 1.75em;
    margin: 50px 0 0 0;
}

.page blockquote {
    text-align: center;
    font-size: 1.5em;
    color: rgb(50, 50, 50);
}

iframe.presskit {
    height: 1200pt;
    margin: 0;
}

.plans .plan {
    text-align: left;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

.plans .plan li {
    padding: 10px 20px 10px 50px;
    position: relative;
}

.plans .plan li:before {
    content: "✔";
    position: absolute;
    left: 1.8em;
    color: #FE770F;
}

.plans .plan .plan-name li {
    text-align: center;
    padding-left: 0px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.plans .plan .plan-name li:before {
    content: none;
}

ul.help {
    padding-inline-start: 0px;
}

.help li {
    font-size: 20px;
    list-style-type: none;
    background: url(../images/doc.svg) no-repeat left top;
    padding: 0 0 0 30px;
    background-position: left;
    margin-bottom: 10px;
}

